*

# all files tracked by git included so the first stage of the docker build
# accurately tracks the git status/shortstat, which is used in the app's version.

!.git/
!.helix/
!.sqlx/
!assets/
!crates/
!migrations/
!src/
!.dockerignore
!.env.sample
!.envrc
!.gitignore
!.rustfmt.toml
!.taplo.toml
!build.rs
!Cargo.lock
!Cargo.toml
!Dockerfile
!LICENSE
!Makefile
